* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

* {
  padding: 0;
  margin: 0;
  font-family: "Kalam", cursive;
  font-size: 1em;
  letter-spacing: 0.1em;
}

/*sections */
body,
html {
  height: 100%;
  scrollbar-width: thin; /* "auto" or "thin" */
}

body::-webkit-scrollbar {
  width: 11px;
  height: 0px;
  /* width of the entire scrollbar */
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(255, 255, 255);
  /* creates padding around scroll thumb */
}

html {
  scroll-behavior: smooth;
}

#btns {
  position: absolute;
  right: 10px;
  bottom: 25px;
}
.btn {
  background: #fea;
  padding: 15px;
  font-family: arial;
}

nav {
  position: absolute;
  background: #1b1b1b;
  width: 100vw;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 12;
  padding-bottom: 0px;
  padding-top: 0px;
}
nav .menu {
  max-width: 98%;
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0px;
}
.menu .logo-wrapper {
  /* flex: 1; */
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 0px;
  margin: 0px;
  /* width:10%; */
}

.menu-wrapper {
  /* flex: 5; */
}

.menu .logo-pic {
  margin: 0px;
  /* width: 10%; */
  padding: 0px;
  display: block;
  /* width: 100%; */
  height: auto;
  max-width: 100%;
  max-height: 100px;
  object-fit: contain;
}

.menu .hamburger-icon {
  position: relative;
  margin-left: auto;
  display: none;
}

.menu .hamburger-icon input {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0px;
  z-index: 0;
  opacity: 0;
}

.menu .hamburger-icon img {
  z-index: 13;
}


.menu-list-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
}
.menu-list-wrapper li {
  list-style: none;
  margin-left: 0.5em;
}

#hamburger-menu-div ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}
#hamburger-menu-div ul li {
  display: flex;
  width: 100%;
}

#hamburger-menu-div li a {
  text-decoration: none;
  color: #005c89;
  font-family: "Satisfy";
  background-color: #000;
  font-size: 1em;
  font-weight: bold;
  width: fit-content;
  padding: 0.7vw 1vw;
  border-radius: 0.4em;
  transition: all 0.3s ease;
  margin-left: 10px;
}

.menu-list-wrapper li:first-child {
  margin-left: 0px;
}
.menu-list-wrapper li a {
  text-decoration: none;
  color: #005c89;
  font-family: "Satisfy";
  letter-spacing: 4px;
  background-color: #000;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em 2em;
  border-radius: 0.4em;
  transition: all 0.3s ease;
}

.menu-list-wrapper li a:hover {
  background-color: white;
  color: black;
}

.container {
  width: auto;
  height: 100%;
  background-color: #005c89;
  vertical-align: middle;
}

#canvas {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50px 50px;
}

#canvas-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 1em;
  max-width: 50%;
  max-height: 60%;
  height: 60%;
  width: 50%;
}

.canvas-outer-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
  text-align: center;
}

.introduction {
  background-color: #fff;
  border-radius: 70px 70px;
  position: absolute;
  top: -9%;
  left: 55%;
  width: 35%;
  font-size: 18px;
}

.introduction p {
  height: auto;
  padding: 1em;
  font-weight: 900;
  font-family: "Kalam", cursive;
}

.container2-background {
  width: auto;
  height: 100%;
  background-color: #ffffff;
}

.container2 {
  display: flex;
  column-gap: 5em;
  flex-direction: row;
  position: relative;
  height: 100%;
  width: 100%;
}
#about-me-image-wrapper {
  max-height: 100%;
  width: 40%;
  height: 100%;
}
#about-me-image {
  width: 100%;
  max-height: 100%;
  height: 100%;
  max-width: 100%;
}

.introduction2 {
  scrollbar-width: thin; /* "auto" or "thin" */
  overflow-y: scroll;
  scroll-padding: 0.1px;
  scroll-margin: 0.2px;
  text-align: center;
  background-color: #005c89;
  height: auto;
  max-height: 60%;
  width: 50%;
  border-radius: 50px;
  align-self: center;
  padding: 1em 0;
  z-index: 3;
}

.introduction2 p {
  text-align: left;
  color: #ffffff;
  font-size: 1.1em;
  padding: 0.5em 1.5em;
}

.introduction2 h2 {
  color: #ffffff;
  font-size: 1.4em;
  text-decoration: dashed underline greenyellow;
  text-decoration-thickness: 1px;
}

.container3 {
  scrollbar-width: thin; /* "auto" or "thin" */
  width: auto;
  height: 100%;
  background-color: #005c89;
  text-align: center;
}

.container3-nav-bar {
  margin-top: 3%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  background-color: #f1f1f1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container3-nav-bar ul {
  list-style: none;
  column-gap: 6vw;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.container3-nav-bar ul li {
  padding: 1% 0;
}

.container3-nav-bar ul .button {
  border: 3px double transparent;
}

.container3-nav-bar ul button:hover {
  background-color: rgb(255, 243, 200);
  color: #000;
  border: 3px double #000;
}

.button {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: #005c89;
}

.clicked-skills-button {
  background-color: rgb(255, 243, 200);
  color: #000;
  border: 3px double #000 !important ;
}

.container3-skills-block {
  height: 70%;
  width: 80%;
  background-color: white;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  overflow-y: auto;
}

#container3-programming {
  display: none;
  margin-top: 0.5%;
  text-align: center;
  width: 99%;
  flex-wrap: wrap;
  column-gap: 2%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#container3-programming div {
  width: 20%;
  min-width: 200px;
  max-width: 300px;
  min-height: 200px;
  /* flex: 1 1 auto;
}
Then all the elements will take an equal portion of the .parent element, but only if */
  flex: 1 -1 auto;
  /* flex: 1;   */
  margin-top: 1.5%;
  background-color: rgb(255, 243, 200);
  border-right: #000;
  padding-top: 0;
  flex-shrink: 0;
  border-style: double;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

#container3-programming img {
  max-width: 70%;
  border-style: double;
}

#container3-design {
  display: none;
  margin-top: 0.5%;
  text-align: center;
  width: 99%;
  flex-wrap: wrap;
  column-gap: 2%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#container3-design div {
  width: 20%;
  min-width: 200px;
  max-width: 300px;
  min-height: 200px;
  flex: 1 -1 auto;
  margin-top: 1.5%;
  background-color: rgb(255, 243, 200);
  border-right: #000;
  padding-top: 0;
  flex-shrink: 0;
  border-style: double;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

#container3-other img {
  max-width: 70%;
  border-style: double;
}

#container3-design img {
  max-width: 70%;
  border-style: double;
}

#container3-other {
  display: none;
  margin-top: 0.5%;
  text-align: center;
  width: 99%;
  flex-wrap: wrap;
  column-gap: 2%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#container3-other div {
  width: 20%;
  min-width: 200px;
  max-width: 300px;
  min-height: 200px;
  flex: 1 -1 auto;
  margin-top: 1.5%;
  background-color: rgb(255, 243, 200);
  border-right: #000;
  padding-top: 0;
  flex-shrink: 0;
  border-style: double;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

#container3-other img {
  max-width: 70%;
  border-style: double;
}

#container3-leadership {
  flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 2%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12px;
}

#container3-leadership div {
  flex-shrink: 0;
  max-height: 300px;
  min-height: 300px;
  flex: 30% 0 150;
  align-items: center;
  background-color: rgb(255, 243, 200);
  border-right: #000;
  padding-top: 0;
  border-style: double;
  height: auto;
  display: flex;
  flex-direction: column;
}

#container3-leadership p {
  height: auto;
  font-size: 1em;
  overflow-y: auto;
}

#leadership-image-wrapper {
  border-bottom: double black 1px;
  max-width: 10%;
  max-height: 20%;
  display: flex;
}

#container3-leadership img {
  overflow-y: hidden;
  max-width: 100%;
  width: 100%;
  height: 100%;
  max-height: 200px;
  min-height: 150px;
  object-fit: cover;
}

.container4 {
  scrollbar-width: thin; /* "auto" or "thin" */
  position: static;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding-left: 0%;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 20% 60%;
  justify-content: center;
  padding: 2em 0;
}

.container4-filter-block {
  border: 1px solid #005c89;
  height: 100%;
  place-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container4-filter-block fieldset {
  width: 100%;
  height: 100%;
  min-inline-size: unset;
}

.container4-filter-block fieldset div {
  width: 100%;
  margin-top: 1em;
}
.fieldset-wrapper {
  width: 90%;
  height: auto;
}

#coding-projects-list-form select {
  width: 100%;
}

#coding-projects-list-form {
  width: 100%;
}

.container4-projects-block {
  background-color: #005c89;
  /* center besides using flex*/
  /* margin-bottom: auto;
  margin-left: auto;
  margin-right:auto ; */
  overflow-y: scroll;
  display: grid;
  padding: 3%;
  gap: 2em;
  justify-items: center;
  align-items: center;
  color: #f0f0f0;
}

.container4-projects-block > div {
  display: grid;
  border: 1px solid rgba(255, 255, 255, 0.575);
  grid-template-columns: 1fr 6fr;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.container4-projects-block p {
  padding: 0px 3%;
}

.container4-projects-block a {
  color: lightgray;
}

.project-item > div {
  background-color: rgba(240, 240, 240, 0.911);
}

.container5 {
  position: static;
  width: auto;
  height: 100%;
  background-color: #005c89;
  align-items: center;
  justify-content: center;
  justify-items: center;
  display: flex;
  place-items: center;
  margin: auto;
}

.container5 > div {
  border: 1px solid rgba(255, 255, 255, 0.575);
  border-radius: 6px;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: auto;
  min-height: 0;
  min-width: 0;
}

.contact-form-outer-wrapper {
  height: auto;
}

.contact-form-wrapper > div {
  margin: auto;
  width: 80%;
  display: grid;
  margin-bottom: 1%;
}

.contact-form-wrapper {
  color: #f0f0f0;
  height: auto;
}

.form-attributes,
textarea,
.contact-form-btn {
  border-radius: 4px;
  border: transparent;
}

form {
  width: 100%;
  height: auto;
}

textarea {
  width: 80%;
  height: 15em;
  margin-bottom: 1.5em;
}

.form-attributes {
  width: 80%;
  height: 3em;
  box-sizing: border-box;
}

.label {
  margin-bottom: 0.5em;
}

.contact-form-btn {
  text-align: center;
  padding: 15px 25px;
  width: 80%;
}

.contact-form-img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-form-img-wrapper {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#coding-projects-list-form {
  display: none;
}

#hamburger-menu-div {
  display: none;
  grid-template-rows: 1fr 5fr;
  position: absolute;
  background: #1b1b1b;
  height: 50%;
  right: 0px;
  width: 22%;
  z-index: 1;
}


/* ----------Media Queries--------------  */

/* 1150px */
@media screen and (min-width: 73em) {
  #hamburger-menu-div {
    display: none;
  }
}

@media screen and (max-width: 72em) {
  .introduction {
    top: -7%;
    width: 80%;
  }
  .menu-list-wrapper {
    display: none;
  }
  .menu .hamburger-icon {
    display: block;
  }

  .container3-nav-bar .button {
    padding: 1vw;
  }
  .menu .logo-pic {
    max-height: 70px;
  }
  .contact-form-btn {
    padding: 15px 10px;
  }
  nav {
    z-index: 13;
  }
}

/* 880px */
@media screen and (max-width: 55em) {
  .container5 {
    background-image: url("images/contact-us-one.jpg");
    background-size: cover;
  }
  .contact-form-outer-wrapper {
    background-color: rgba(
      51,
      47,
      47,
      0.514
    ); /* Black background with opacity */
  }

  .contact-form--image {
  }

  .contact-form-img-wrapper {
    display: none;
  }

  .container5 > div {
    display: block;
    width: 80%;
  }

  .contact-form-wrapper > div {
    margin: auto;
    width: 80%;
    display: grid;
  }

  .contact-form-wrapper p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    display: flex;
  }

  .container5 textarea {
    width: 90%;
  }

  .container4 {
    grid-template-columns: unset;
    grid-template-rows: 1fr 8fr;
  }
  .container4-filter-block fieldset {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
  }

  .container4-projects-block {
    grid-template-columns: auto auto;
    width: 80%;
    margin: 0 auto;

    align-items: stretch;
  }

  .container4-projects-block > div {
    grid-template-columns: unset;
    align-items: first baseline;
    display: block;
  }

  #container3-leadership {
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 10%;
  }

  .introduction {
    top: -10%;
    width: 80%;
    left: 67%;
  }

  .container2 {
    flex-direction: row;
    justify-content: end;
  }

  #about-me-image-wrapper {
    image-rendering: -webkit-optimize-contrast;
    position: absolute;
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    width: 100%;
    z-index: 2;
    padding-right: 20%;
    background-image: url("images/saron_standing.jpg");
    background-size: cover;
    filter: blur(0.5px);
  }

  #about-me-image {
    width: 80%;
  }
}

/* 544px */
@media screen and (max-width: 34em) {
  .canvas-outer-wrapper {
    justify-content: unset;
  }
  .introduction2 {
    font-size: 0.8em;
    width: 60%;
  }

  .introduction {
    font-size: 0.8em;
    left: 100%;
  }

  #container3-leadership {
    font-size: 0.8em;
  }

  .container4-filter-block fieldset div {
    font-size: 0.8em;
  }
  .container4-projects-block p {
    font-size: 0.8em;
  }
}
